<div>
  <canvas
    id="viewer-canvas"
    width="512"
    height="512"
    (wheel)="handleWheel($event)"></canvas>
  <div *ngIf="metadata()?.total">
    <div>
      <mat-slider
        min="1"
        [max]="metadata() ? metadata()!.series_total : 1"
        step="1"
        [discrete]="true">
        <input
          matSliderThumb
          [value]="currentIndex()"
          (input)="onInputChange($event)" />
      </mat-slider>
      <br />
      <div class="metadata">
        Showing image {{ currentIndex() }} of {{ metadata()?.series_total }} in
        series. <br />
        Total amount of images: {{ metadata()?.total }}
      </div>
    </div>
  </div>
</div>
