main {
  padding: 1em;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footnote {
  margin: 5px;
  font-size: 12px;
}

.information {
  position: fixed;
  bottom: 1em;
  z-index: 100;
  font-size: 12px;
}

mat-sidenav {
  width: 700px;
}
