<main>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened disableClose>
      <dicom-tree
        [dicomHierarchy]="dicomHierarchy"
        (setSeriesFilter)="setSeriesFilter($event)"
        (resetFilter)="resetFilter()">
      </dicom-tree>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-spinner
        diameter="48"
        *ngIf="loading(); else uploadButton"></mat-spinner>
      <ng-template #uploadButton>
        <button type="button" mat-flat-button (click)="fileinput.click()">
          Select file(s)
        </button>
        <p class="footnote">The files are only processed locally and do not leave your device.</p>
      </ng-template>
      <input
        type="file"
        #fileinput
        multiple
        hidden
        (change)="handleFiles($event)" />
      <dicom-renderer
        [dicomViewer]="dicomViewer"
        [metadata]="metadata"
        (getMetadata)="getMetadata()">
      </dicom-renderer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="information">
    Learning project, not for clinical use.
    <a href="https://github.com/Cryt1c/DICOMViewer/issues" target="_blank">Report issues</a>
  </div>
</main>

<router-outlet />
