<main>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="true">
      <image-picker
        [dicomViewer]="dicomViewer"
        [dicomHierarchy]="dicomHierarchy"
        [metaData]="metaData"
        (getMetaData)="getMetaData()"
        (openSnackBar)="openSnackBar($event)">
      </image-picker>
      <dicom-tree
        [dicomHierarchy]="dicomHierarchy"
        [metaData]="metaData"
        (setSeriesFilter)="setSeriesFilter($event)">
      </dicom-tree>
    </mat-sidenav>
    <mat-sidenav-content>
      <dicom-renderer
        [dicomViewer]="dicomViewer"
        [metaData]="metaData"
        (getMetaData)="getMetaData()">
      </dicom-renderer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="information">
    Learning project, not for clinical use.
    <a href="https://github.com/Cryt1c/DICOMViewer/issues" target="_blank">Report issues</a>
  </div>
</main>

<router-outlet />
