<main>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened disableClose>
      <dicom-tree
        [dicomHierarchy]="dicomHierarchy"
        (setCurrentSeries)="setCurrentSeries($event)"
        (resetFilter)="resetFilter()">
      </dicom-tree>
    </mat-sidenav>
    <mat-sidenav-content class="container">
      <button type="button" mat-flat-button (click)="fileinput.click()">
        Upload file(s)
      </button>
      <input
        type="file"
        #fileinput
        multiple
        hidden
        (change)="handleFiles($event)" />
      <dicom-renderer
        [dicomViewer]="dicomViewer"
        [metadata]="metadata"
        (getMetadata)="getMetadata()">
      </dicom-renderer>
      <div *ngIf="loading()">
        <mat-spinner></mat-spinner>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>

<router-outlet />
