<div>
  <div id="canvas-container">
    <canvas
      id="viewer-canvas"
      width="512"
      height="512"
      (wheel)="handleWheel($event)"></canvas>
  </div>
  <div *ngIf="metaData()?.total">
    <div>
      <mat-slider
        min="1"
        [max]="metaData() ? metaData()!.series_total : 1"
        step="1"
        [discrete]="true"
        *ngIf="metaData()!.series_total > 1">
        <input
          matSliderThumb
          [value]="currentIndex()"
          (input)="onInputChange($event)" />
      </mat-slider>
      <mat-form-field>
        <mat-select
          [(value)]="mprOrientation"
          (selectionChange)="onMprOrientationChange($event)">
          <mat-option [value]=0>Axial</mat-option>
          <mat-option [value]=1>Coronal</mat-option>
          <mat-option [value]=2>Sagittal</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div class="meta-data">
        Showing image {{ currentIndex() }} of {{ metaData()?.series_total }} in
        series. <br />
        Total amount of images: {{ metaData()?.total }}
      </div>
    </div>
  </div>
</div>
