<div class="content">
  <div id="canvas-container"
    (wheel)="handleWheel($event)">
    <canvas
      id="viewer-canvas"
      width="512"
      height="512">
    </canvas>
  </div>
  @if (metaData()?.total) {
      @if (metaData()!.series_total > 1) {
        <mat-slider
          min="1"
          [max]="metaData() ? metaData()!.series_total : 1"
          step="1"
          [discrete]="true">
          <input
            matSliderThumb
            [value]="currentIndex()"
            (input)="onInputChange($event)"
            (wheel)="handleWheel($event)"
          />
        </mat-slider>
      }
      <mat-form-field>
        <mat-select
          [(value)]="mprOrientation"
          (selectionChange)="onMprOrientationChange($event)">
          <mat-option [value]=0>Axial</mat-option>
          <mat-option [value]=1>Coronal</mat-option>
          <mat-option [value]=2>Sagittal</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div class="meta-data">
        Showing image {{ currentIndex() }} of {{ metaData()?.series_total }} in
        volume. <br />
      </div>
  }
</div>
